<a href="https://colab.research.google.com/github/SyedHuzaifa007/AI-Deep-Learning-Chatbot/blob/main/Exploratory_Analysis_Terrorism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# Importing Libraries And Modules
import numpy as np
import pandas as pd
import warnings

In [17]:
# Filter Warnings
warnings.filterwarnings('ignore')

In [18]:
# Importing Data
path = '/content/drive/MyDrive/Sparks Foundation Internship/Datasets/globalterrorism.csv'
data = pd.read_csv(path, encoding ='latin1')
terror_df = pd.DataFrame(data)
terror_df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [19]:
terror_df.columns.to_list()

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [20]:
# Choosing Necessary Features
terror_df = terror_df[['iyear', 'imonth', 'iday', 'country_txt', 'provstate', 'region_txt', 'attacktype1_txt', 'target1', 'nkill', 'nwound', 'summary', 'gname', 'targtype1_txt', 'weaptype1_txt', 'motive']]

In [21]:
# Renaming Choosen Feature For My Easiness
terror_df = terror_df.rename(columns = {'iyear':'year', 'imonth':'month', 'iday':'day', 'country_txt':'country', 'provstate':'state', 
                                        'region_txt':'region', 'attacktype1_txt':'attack_type', 'target1':'target', 'nkill':'killed',
                                        'nwound':'wounded', 'gname':'group', 'targtype1_txt':'target_type', 'weaptype1_txt':'weapon_type'})
terror_df.head()

   year  month  day  ...                  target_type weapon_type motive
0  1970      7    2  ...  Private Citizens & Property     Unknown    NaN
1  1970      0    0  ...      Government (Diplomatic)     Unknown    NaN
2  1970      1    0  ...          Journalists & Media     Unknown    NaN
3  1970      1    0  ...      Government (Diplomatic)  Explosives    NaN
4  1970      1    0  ...      Government (Diplomatic)  Incendiary    NaN

[5 rows x 15 columns]

In [23]:
# Checking Shape of Dataset
terror_df.shape

(181691, 15)

In [24]:
# Checking Dataset For Null Values
terror_df.isnull().sum()

year                0
month               0
day                 0
country             0
state             421
region              0
attack_type         0
target            636
killed          10313
wounded         16311
summary         66129
group               0
target_type         0
weapon_type         0
motive         131130
dtype: int64

In [25]:
terror_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year         181691 non-null  int64
 1   month        181691 non-null  int64
 2   day          181691 non-null  int64
 3   country      181691 non-null  object
 4   state        181270 non-null  object
 5   region       181691 non-null  object
 6   attack_type  181691 non-null  object
 7   target       181055 non-null  object
 8   killed       171378 non-null  float64
 9   wounded      165380 non-null  float64
 10  summary      115562 non-null  object
 11  group        181691 non-null  object
 12  target_type  181691 non-null  object
 13  weapon_type  181691 non-null  object
 14  motive       50561 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 20.8+ MB

###**That's Great, Our Finalized Dataset Contains No Null Values**